.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.imageContainer {
    position: relative;

    border: 5px solid var(--tertiary);
    border-radius: 50%;

    padding: 10px;
    height: 216px;
    width: 216px;
}

.profileImage {
    border-radius: 50%;
    margin: 0.25rem;
}

.name {
    font-size: 2rem;
    margin: 2rem 0 4rem;
}

.headerEntries {
    display: flex;
    align-items: center;
}

.headerEntry {
    display: flex;
    align-items: center;
    font-size: 1.35rem;
    margin: 0.5rem 2rem;
}

.headerEntryText {
    margin: 0 0.25rem;
}