.box-content {
    padding: 1.25rem;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: linear-gradient(var(--gradient-degrees), var(--gradient-start), var(--gradient-end));
    border-radius: 14px;
}