.ux {
    --col-start: 13;
    --col-end: 17;
    --row-start: 9;
    --row-end: 13;

    --number-size: 6rem;
    --years-size: 2.5rem;
    --text-size: 2rem;
    --line-height: 1;

    --gradient-degrees: 135deg;
    --gradient-start: #0d131d;
    --gradient-end: #07141d;
}

.ux-experience {
    display: grid;
    justify-content: center;
    align-items: baseline;
    grid-template-columns: repeat(3, 1fr);
    background: linear-gradient(to bottom right, #00dcff, #00dcff 25%, #e600ff 50%, #ff005a 75%, #ff005a);
    background-clip: text;
    color: transparent;
}

.ux-number {
    grid-column: 2 / 3;
    font-size: var(--number-size);
    line-height: 1;
    text-align: center;
    margin: 0;
}

.ux-years {
    grid-column: 3 / 4;
    font-size: var(--years-size);
    text-align: start;
}

.ux-text {
    display: grid;
    place-content: center;
    text-align: center;
    font-size: var(--text-size);
    line-height: var(--line-height);
    margin: 0.5rem;
    color: var(--primary);
}
