.experience {
    display: grid;
    justify-content: center;
    align-items: baseline;
    grid-template-columns: repeat(3, 1fr);
    background: linear-gradient(to bottom right, #00dcff, #00dcff 25%, #e600ff 50%, #ff005a 75%, #ff005a);
    background-clip: text;
    color: transparent;
}

.number {
    grid-column: 2 / 3;
    font-size: 6rem;
    line-height: 1;
    text-align: center;
    margin: 0;
}

.years {
    grid-column: 3 / 4;
    font-size: 2.5rem;
    text-align: start;
}

.engineering {
    display: grid;
    place-content: center;
    text-align: center;
    font-size: 2rem;
    line-height: 1;
    margin: 0.5rem;
    color: var(--primary);
}
