.arrow {
    position: absolute;
    width: 84px;
    height: 161px;
    left: 0;
    right: 0;
    margin-inline: auto;
    bottom: 1rem;
    z-index: 3;
    transform: scale(0.75);
}

.arrow-base {
    position: absolute;
    width: 32px;
    height: 113px;
    left: 0;
    right: 0;
    margin-inline: auto;
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    animation: arrow-base 3s 3.5s ease-out forwards;
    animation-iteration-count: 2;
}

.arrow-v {
    position: absolute;
    width: 84px;
    height: 104px;
    left: 0;
    right: 0;
    margin-inline: auto;
    bottom: 0;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    animation: arrow-v 3s 4.1s ease-out forwards;
    animation-iteration-count: 2;
}

@keyframes arrow-base {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    10% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes arrow-v {
    0% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    10% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}