.name {
    --col-start: 5;
    --col-end: 14;
    --row-start: 5;
    --row-end: 7;

    --gradient-degrees: 180deg;
    --gradient-start: #16151c;
    --gradient-end: #12151d;
}

.text-container {
    display: grid;
    align-items: center;
    height: 100%;
}

.text {
    background: linear-gradient(to bottom right, #00dcff, #00dcff 25%, #e600ff 50%, #ff005a 75%, #ff005a);
    background-clip: text;
    color: transparent;
    margin: 0;
    font-size: 3rem;
    text-align: end;
    line-height: 1;
}
