.name {
    --col-start: 5;
    --col-end: 14;
    --row-start: 5;
    --row-end: 7;

    --bg-grid-col: 1 / -1;
    --bg-grid-row: 1 / -1;

    --gradient-degrees: 180deg;
    --gradient-start: #16151c;
    --gradient-end: #12151d;

    text-align: end;
    font-size: 3.5rem;
}

.name-text-container {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    justify-content: end;
    align-items: center;
}

.name-text {
    background: linear-gradient(to bottom right, #00dcff, #00dcff 25%, #e600ff 50%, #ff005a 75%, #ff005a);
    background-clip: text;
    color: transparent;
    padding-right: var(--box-content-padding);
    line-height: 1;
    font-size: inherit;
}
