.box-bg {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background: linear-gradient(to bottom right, #00dcff, #00dcff 35%, #e600ff 50%, #ff005a 65%, #ff005a),
        radial-gradient(circle at var(--circle-x) var(--circle-y), white, #000000aa calc(var(--grid-column-width) * 4));
    background-blend-mode: overlay;
}