.portfolio-link {
    --col-start: 15;
    --col-end: 17;
    --row-start: 7;
    --row-end: 9;

    --bg-grid-col: 1 / -1;
    --bg-grid-row: 1 / -1;

    --gradient-degrees: 135deg;
    --gradient-start: #0b131d;
    --gradient-end: #09131e;
}

.portfolio-link-image {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    padding: var(--box-content-padding);
}