.portfolio-link {
    --col-start: 15;
    --col-end: 17;
    --row-start: 7;
    --row-end: 9;

    --gradient-degrees: 135deg;
    --gradient-start: #0b131d;
    --gradient-end: #09131e;
}

.portfolio-link-image {
    display: grid;
    grid-template-rows: 68px;
    grid-template-columns: 1fr;
}