.grid {
    --cols: calc(var(--grid-columns) * var(--grid-column-width));
    --gaps: calc((var(--grid-columns) - 1) * var(--grid-gap));
    position: relative;
    width: calc(var(--cols) + var(--gaps));
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), var(--grid-column-width));
    grid-auto-rows: var(--grid-auto-rows);
    grid-gap: var(--grid-gap);

    /* background-color: brown; */
}
