.grid {
    position: relative;
    width: calc(var(--grid-column-width) * var(--grid-columns));
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), var(--grid-column-width));
    grid-auto-rows: var(--grid-auto-rows);

    background-color: brown;
}
