.button {
    font-size: 1.25rem;
    color: #E0E0E0;
    background-color: transparent;
    border: 3px solid #E0E0E0;
    padding-block: 0.5rem;
    flex: 1 1 80vw;
}

@media screen and (min-width: 800px) {
    .button {
        flex: 1;
    }
}