.signature {
    width: min(80vw, 800px);
    margin: 4rem auto;
    display: flex;
    filter: drop-shadow(0 1px 2px #00000050);
    align-items: flex-end;
    z-index: 0;
}

@media screen and (max-width: 800px) {
    .signature {
        display: grid;
        margin: 0 auto;
    }

    .first-name {
        width: 50vw;
    }

    .last-name {
        margin-bottom: 0px;
        width: 60vw;
        justify-self: flex-end;
        transform: translate(0, -40%);
    }
}
