.github {
    --col-start: 13;
    --col-end: 15;
    --row-start: 7;
    --row-end: 9;

    --gradient-degrees: 135deg;
    --gradient-start: #0e131a;
    --gradient-end: #0e141e;
}

.github-image {
    display: grid;
    grid-template-rows: 68px;
    grid-template-columns: 1fr;
}
