.center-grid {
    flex: 1 1 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
    justify-content: center;
}

.filler {
    display: none;
    flex: 1 1 calc((100% * 1 / 6) - 0.5rem);
    order: 10;
}

@media screen and (min-width: 240px) {
    .center-grid {
        grid-template-columns: repeat(2, minmax(6rem, 1fr));
    }
}

@media screen and (min-width: 360px) {
    .center-grid {
        grid-template-columns: repeat(3, minmax(6rem, 1fr));
    }
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 632px) {
    .center-grid {
        grid-template-columns: repeat(6, minmax(6rem, 1fr));
    }

    .filler {
        display: block;
    }
}
