.web-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 68px);
    column-gap: 1rem;
    row-gap: 60px;
}

.web-skill {
    display: grid;
    grid-template-rows: minmax(0, auto) auto;
    grid-template-columns: auto;
    justify-items: center;
    gap: 0.25rem;
}

.web-skill img {
    max-height: 100%;
    aspect-ratio: 1;
    filter: invert(1) grayscale(1) brightness(2);
}

.label {
    font-size: 0.75rem;
    color: var(--primary);
}
