.skills {
    --col-start: 1;
    --col-end: 12;
    --row-start: 11;
    --row-end: 13;

    --gradient-degrees: 215deg;
    --gradient-start: #0c161f;
    --gradient-end: #0c1520;
}

.skills-list {
    display: grid;
    grid-template-rows: 68px;
    grid-template-columns: repeat(6, 1fr);
}

.skill {
    display: grid;
    grid-template-rows: minmax(0, auto) auto;
    grid-template-columns: auto;
    justify-items: center;
    gap: 0.25rem;
}

.skill img {
    max-height: 100%;
    aspect-ratio: 1;
    filter: invert(1) grayscale(1) brightness(2);
}

.label {
    font-size: 0.75rem;
    color: var(--primary);
}
