.skills {
    --col-start: 1;
    --col-end: 12;
    --row-start: 11;
    --row-end: 13;

    --grid-template-rows: 1fr;
    --grid-template-columns: repeat(6, 1fr);
    --grid-gap: 1rem;

    --gradient-degrees: 215deg;
    --gradient-start: #0c161f;
    --gradient-end: #0c1520;
}

.skills-list {
    display: grid;
    height: 100%;
    grid-template-rows: var(--grid-template-rows);
    grid-template-columns: var(--grid-template-columns);
    gap: var(--grid-gap);
}
