.skills {
    flex: 1 0 100%;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    justify-content: center;
}

@media screen and (min-width: 240px) {
    .skills-grid {
        grid-template-columns: repeat(2, minmax(6rem, 1fr));
    }
}

@media screen and (min-width: 360px) {
    .skills-grid {
        grid-template-columns: repeat(3, minmax(6rem, 1fr));
    }
}

@media screen and (min-width: 632px) {
    .skills-grid {
        grid-template-columns: repeat(6, minmax(6rem, 1fr));
        gap: 0.5rem;
    }
}
