.skills {
    flex: 2 1 400px;
}

.skill-grid {
    display: flex;
    flex-direction: column;
    gap: 1.45rem;
    margin-block: 2rem;
}

.skill-group {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 2rem;
    position: relative;
}

.centered {
    align-items: center;
}

.skill-subgroup-v {
    display: grid;
    gap: 2rem;
    justify-items: center;
}

.skill-link {
    display: flex;
}

.skill-container {
    flex: 1;
    position: relative;
    display: grid;
    grid-template-columns: minmax(70px, 120px);
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.skill-size-a {
    grid-template-rows: 100px 30px;
}

.skill-size-b {
    grid-template-rows: 75px 30px;
}

.skill-size-c {
    grid-template-rows: 50px 30px;
}

.skill {
    filter: saturate(0);
    max-width: 100%;
    max-height: 100%;
}

.skill:hover {
    filter: saturate(1);
}

.skill-name {
    font-size: 0.7rem;
    line-height: 1rem;
    text-align: center;
    color: var(--tertiary);
}

.skill-container:hover .skill-name {
    color: var(--secondary);
}
