.skill-meter {
    width: 100%;
    height: 0.75rem;
    display: flex;
    transform: skewX(-45deg);
}

.skill-meter-section {
    display: flex;
    flex: 1;
    margin-inline: 2px;
    background: #81003680;
}

.skill-meter-section-fill {
    flex: 1;
    background: var(--secondary);
}

.skill-meter-section-fill:global(.half) {
    clip-path: polygon(0 0, 50% 50%, 0 100%);
}

.skill-meter-section-fill:global(.full) {
    clip-path: polygon(0 0, 60% 0, 100% 50%, 60% 100%, 0 100%);
}

.skill-meter-section-fill:global(.empty) {
    opacity: 0;
}