.main {
    background-color: var(--primary);
    color: var(--tertiary);
}

.main :global(.swiper-pagination-horizontal) {
    top: 0;
    left: 0;
    width: 100%;
    margin-block: 1.5rem;
    display: flex;
    justify-content: center;
}

.main :global(.swiper-pagination-bullets) :global(.swiper-pagination-bullet) {
    width: 0.65rem;
    height: 0.65rem;
    border-radius: 50%;
    margin-inline: 0.5rem;
    border: 1px solid var(--secondary);
    background-color: transparent;
    opacity: 1;
}

.main :global(.swiper-pagination-bullets) :global(.swiper-pagination-bullet-active) {
    background-color: var(--secondary);
}