.skills {
    flex: 2;
}

.skill-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block: 2rem;
}

.skill-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    position: relative;
}

.skill {
    position: relative;
    height: 100%;
    flex: 1;
}

.group-a {

}

.group-b {

}

.group-c {

}

.group-d {

}