.skills {
    flex: 2;
}

.skill-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block: 2rem;
}

.skill-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.skill {
    position: relative;
    height: 100%;
    flex: 1;
}

.group-a {
    height: 4rem;
}

.group-b {
    height: 3.5rem;
}

.group-c {
    height: 2.5rem;
}

.group-d {
    height: 2.5rem;
}