.about {
    --col-start: 1;
    --col-end: 10;
    --row-start: 1;
    --row-end: 5;

    --bg-grid-col: 1 / -1;
    --bg-grid-row: 1 / -1;

    --gradient-degrees: 80deg;
    --gradient-start: #0e141f;
    --gradient-end: #181318;
}

.about-title {
    display: flex;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: var(--box-content-padding);
    align-items: center;
}

.about-text-container {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    padding-inline: var(--box-content-padding);
}

.about-text {
    margin: 0.5rem 0;
    line-height: 1.42rem;
}

.about-text em {
    font-weight: 400;
    color: var(--secondary);
}
