.about {
    flex-basis: 100%;
    order: 0;
}

.about-padding-container {
    padding: 0.5rem;
}

.about-title {
    padding: 0.5rem;
    font-size: 1.5rem;
}

.about-text {
    padding: 1rem 0.5rem;
    line-height: 1.22rem;
}

.about-text em {
    font-weight: 400;
    color: var(--secondary);
}

@media screen and (min-width: 240px) {
    .about-padding-container {
        padding: 1rem;
    }

    .about-title {
        padding: 1rem;
        font-size: 2rem;
    }

    .about-text {
        padding: 1rem;
        line-height: 1.22rem;
    }
}
