.headerEntry {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    margin: 0.25rem 2rem;
    color: var(--primary);
}

.headerEntryIcon {
    flex: 1 0 24px;
}

.headerEntryText {
    margin: 0 0.5rem;
}