.tools {
    flex: 1 0 100%;
}

.tools-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    justify-content: center;
}

@media screen and (min-width: 240px) {
    .tools-grid {
        grid-template-columns: repeat(2, minmax(6rem, 1fr));
    }
}

@media screen and (min-width: 360px) {
    .tools-grid {
        grid-template-columns: repeat(3, minmax(6rem, 1fr));
        gap: 0.5rem;
    }
}

@media screen and (min-width: 632px) {
    .tools {
        flex: 1 1 calc((100% * 3 / 6) - 0.25rem);
    }
}
