.tools {
    --col-start: 12;
    --col-end: 17;
    --row-start: 12;
    --row-end: 15;

    --bg-grid-col: 1 / -1;
    --bg-grid-row: 1 / -1;

    --link-col-span: 1;
    --link-row-span: 1;

    --gradient-degrees: 135deg;
    --gradient-start: #0d131d;
    --gradient-end: #07141d;
}

.tools-grid {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.tools-image-link {
    padding: var(--box-content-padding);
}
