.header {
    display: grid;
    place-content: center;
}

.portrait {
    width: 250px;
    margin-top: 2rem;
}

.tags {
    font-size: 1.2rem;
    line-height: 1.25;
    text-align: center;
    color: var(--secondary);
    text-transform: uppercase;
    margin-block: 1rem;
}

.tag {
    margin: 0;
}
