.section {
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 300;
    margin: 3rem 0 2rem;
}

.sectionEntries {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(400px, 1fr) minmax(min-content, max-content) minmax(400px, 1fr) minmax(0, 1fr);
}