.section {
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 300;
    margin: 3rem 0 2rem;
}

.sectionEntries {
    display: flex;
    flex-direction: column;
}

@media (max-aspect-ratio: 1/1) {

}