.intro {
    display: flex;
    flex: 1 1 100%;
    margin: 2rem auto;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    order: 0;

    & h1 {
        margin-top: 0;
        font-family: "Fjalla One", sans-serif;
        letter-spacing: 0.05ch;
        font-size: 1.2rem;
    }

    & p {
        margin: 0 auto;
        font-family: "Lora", serif;
        letter-spacing: 0.025ch;
        font-size: 1.15rem;
        color: #ffffff99;
    }
}

@media screen and (min-width: 240px) {
    .intro h1 {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 360px) {
    .intro {
        flex-basis: auto;
    }
}
