.title {
    grid-area: title;
    margin: 0;
}

.timeline {
    grid-area: timeline;
    display: grid;
    grid-template-columns: 1fr 15px 2px 15px 1fr 15px 2px 15px 1fr 15px 2px 15px 1fr 15px 2px 15px 1fr 15px 2px 15px 1fr 1rem;
    grid-template-rows: 1fr 1rem 15px 2px 15px 1rem 1fr;
    margin-left: -1.25rem;
    font-size: 0.7rem;
}

.role {
    display: grid;
    grid-column: calc(1 + (var(--n) - 1) * 4) / calc(6 + (var(--n) - 1) * 4);
    grid-row: 1 / 2;
    text-align: center;
}

.role:nth-child(odd) {
    grid-row: 1 / 2;
    align-items: end;
}

.role:nth-child(even) {
    grid-row: 7 / 8;
    align-items: start;
}

.timeline-segment {
    grid-column: calc(1 + (var(--n) - 1) * 4) / calc(1 + (var(--n) - 1) * 4);
    grid-row: 4 / 5;
}

.timeline-segment:nth-child(1 of .timeline-segment) {
    background: linear-gradient(135deg, #00dcff, #2bd5ff);
}

.timeline-segment:nth-child(2 of .timeline-segment) {
    background: linear-gradient(135deg, #00dcff, #80a3ff);
}

.timeline-segment:nth-child(3 of .timeline-segment) {
    background: linear-gradient(135deg, #ac72ff, #e600ff);
}

.timeline-segment:nth-child(4 of .timeline-segment) {
    background: linear-gradient(135deg, #ed00d3, #f60094);
}

.timeline-segment:nth-child(5 of .timeline-segment) {
    background: linear-gradient(135deg, #fb0073, #ff005b);
}

.timeline-segment:nth-child(6 of .timeline-segment) {
    background: linear-gradient(135deg, #ff035b, #ff005b);
}

.circle {
    display: grid;
    place-items: center;
    grid-column: calc(2 + (var(--n) - 1) * 4) / calc(5 + (var(--n) - 1) * 4);
    grid-row: 3 / 6;
    border-radius: 1rem;
    font-size: 0.8rem;
    padding: 2px;
}

.circle:nth-child(1 of .circle) {
    background: linear-gradient(135deg, #00dcff, #2bd5ff);
}

.circle:nth-child(2 of .circle) {
    background: linear-gradient(135deg, #6cb4ff, #c058ff);
}

.circle:nth-child(3 of .circle) {
    background: linear-gradient(135deg, #d632ff, #f200ae);
}

.circle:nth-child(4 of .circle) {
    background: linear-gradient(135deg, #f200b5, #ff005a);
}

.circle:nth-child(5 of .circle) {
    background: linear-gradient(135deg, #ff005a, #ff005a);
}

.circle-inner {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #0e141e;
}

.arrow {
    grid-column: 22 / 23;
    grid-row: 3 / 6;
    background: linear-gradient(135deg, #ff005a, #ff005a);
    clip-path: polygon(
        0 0,
        100% 50%,
        0 100%,
        calc(100% - 0.5rem) calc(50% + 1px),
        0 calc(50% + 1px),
        0 calc(50% - 1px),
        calc(100% - 0.5rem) calc(50% - 1px)
    );
}
