.box-bg {
    display: grid;
    grid-column: var(--bg-grid-col);
    grid-row: var(--bg-grid-row);
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    width: 100%;
    height: 100%;
    border-radius: var(--box-border-radius);
    background: linear-gradient(135deg, #00dcff, #00dcff 35%, #e600ff 50%, #ff005a 65%, #ff005a),
        radial-gradient(circle at var(--circle-x) var(--circle-y), white, #000000aa calc(var(--grid-column-width) * 4));
    background-blend-mode: overlay;
}

.box-bg-fill {
    border-radius: calc(1rem - var(--box-border-width));
    background: linear-gradient(var(--gradient-degrees), var(--gradient-start), var(--gradient-end));
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    margin: var(--box-border-width);
}

.box-content {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    margin: var(--box-border-width);
    border-radius: calc(1rem - var(--box-border-width));
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}
