@media screen and (max-width: 1264px) {
    :root {
        --grid-column-width: 4rem;
        --grid-columns: 12;
        --grid-auto-rows: 4rem;
    }

    .about {
        --col-start: 1;
        --col-end: 8;
        --row-start: 1;
        --row-end: 7;
    }

    .portrait {
        --col-start: 10;
        --col-end: 13;
        --row-start: 1;
        --row-end: 4;
    }

    .name {
        --col-start: 8;
        --col-end: 13;
        --row-start: 4;
        --row-end: 6;

        font-size: 2rem;
    }

    .front-end {
        --col-start: 1;
        --col-end: 4;
        --row-start: 7;
        --row-end: 10;

        --number-size: 4rem;
        --years-size: 1.5rem;
        --text-size: 1.3rem;
        --line-height: 1.2;
    }

    .ux {
        --col-start: 10;
        --col-end: 13;
        --row-start: 14;
        --row-end: 17;

        --number-size: 4rem;
        --years-size: 1.5rem;
        --text-size: 1.3rem;
        --line-height: 1.2;
    }

    .experience {
        --col-start: 5;
        --col-end: 13;
        --row-start: 8;
        --row-end: 12;
    }

    .skills {
        --col-start: 1;
        --col-end: 6;
        --row-start: 11;
        --row-end: 15;

        --grid-template-rows: repeat(2, 1fr);
        --grid-template-columns: repeat(3, 1fr);
        --grid-gap: 2rem;
    }

    .web {
        --col-start: 1;
        --col-end: 8;
        --row-start: 15;
        --row-end: 17;
    }

    .tools {
        --col-start: 6;
        --col-end: 13;
        --row-start: 12;
        --row-end: 14;
    }

    .github {
        --col-start: 4;
        --col-end: 6;
        --row-start: 9;
        --row-end: 11;
    }

    .portfolio-link {
        --col-start: 11;
        --col-end: 13;
        --row-start: 6;
        --row-end: 8;
    }

    .portfolio-container {
        --col-start: 1;
        --col-end: 13;
        --row-start: 3;
        --row-end: 16;
    }
}
