@media screen and (max-width: 624px) {
    :root {
        --grid-column-width: 1rem;
        --grid-columns: 16;
        --grid-auto-rows: 1rem;
        --grid-gap: 0.5rem;
        --box-content-padding: 1rem;
    }

    .about {
        --col-start: 1;
        --col-end: 17;
        --row-start: 7;
        --row-end: 22;
    }

    .about-title {
        grid-row: 1 / 4;
    }

    .about-text-container {
        grid-row: 4 / -1;
    }

    .portrait {
        --col-start: 11;
        --col-end: 17;
        --row-start: 1;
        --row-end: 7;

        --bg-grid-col: 1 / -1;
        --bg-grid-row: 3 / -1;
    }

    .name {
        --col-start: 1;
        --col-end: 10;
        --row-start: 3;
        --row-end: 7;

        font-size: 1.5rem;
        --text-align: start;
    }

    .front-end {
        --col-start: 1;
        --col-end: 9;
        --row-start: 22;
        --row-end: 30;

        --number-size: 5rem;
        --years-size: 2rem;
        --text-size: 1.5rem;
        --line-height: 1.25;
    }

    .front-end-experience {
        grid-column: 1 / -1;
        grid-row: 1 / 5;
    }

    .front-end-text {
        grid-column: 1 / -1;
        grid-row: 5 / -1;
    }

    .ux {
        --col-start: 9;
        --col-end: 17;
        --row-start: 22;
        --row-end: 30;

        --number-size: 5rem;
        --years-size: 2rem;
        --text-size: 1.5rem;
        --line-height: 1.25;
    }

    .ux-grid {
        grid-template-rows: subgrid;
        grid-template-columns: subgrid;
    }

    .ux-experience {
        grid-column: 1 / -1;
        grid-row: 1 / 5;
    }

    .ux-text {
        grid-column: 1 / -1;
        grid-row: 5 / -1;
    }

    .experience {
        --col-start: 1;
        --col-end: 17;
        --row-start: 29;
        --row-end: 42;

        --bg-grid-col: 3 / -1;
        --bg-grid-row: 2 / -1;

        --title-offset: calc(var(--grid-column-width));
    }

    .experience-title {
        grid-column: 4 / -1;
        grid-row: 2 / 5;
    }

    .experience-timeline {
        grid-column: 3 / -1;
        grid-row: 5 / -1;
    }

    .experience-image {
        grid-column: 1 / 5;
        grid-row: 1 / 5;
    }

    .skills {
        --col-start: 1;
        --col-end: 13;
        --row-start: 42;
        --row-end: 50;

        --link-col-span: 4;
        --link-row-span: 4;

        --box-content-padding: 0.75rem;
        --grid-gap: 1rem;
    }

    .skills-grid {
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
    }

    .web {
        --col-start: 13;
        --col-end: 17;
        --row-start: 42;
        --row-end: 58;

        --link-col-span: 4;
        --link-row-span: 4;

        --box-content-padding: 1rem;
    }

    .web-grid {
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
    }

    .tools {
        --col-start: 1;
        --col-end: 9;
        --row-start: 50;
        --row-end: 62;

        --link-col-span: 4;
        --link-row-span: 4;

        --box-content-padding: 1rem;
    }

    .tools-grid {
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
    }

    .github {
        --col-start: 9;
        --col-end: 13;
        --row-start: 54;
        --row-end: 58;
    }

    .codepen {
        --col-start: 9;
        --col-end: 13;
        --row-start: 50;
        --row-end: 54;
    }

    .portfolio-link {
        --col-start: 9;
        --col-end: 13;
        --row-start: 58;
        --row-end: 62;
    }

    .portfolio-title {
        --col-start: 1;
        --col-end: 10;
        --row-start: 1;
        --row-end: 4;
    }

    .portfolio-container {
        --col-start: 1;
        --col-end: 10;
        --row-start: 4;
        --row-end: 33;
    }

    .disclaimer-home {
        --col-start: 1;
        --col-end: 17;
        --row-start: 62;
        --row-end: 65;
    }
}
