@media screen and (max-width: 768px) {
    :root {
        --grid-column-width: 6rem;
        --grid-columns: 8;
        --grid-rows: 7;
        --grid-auto-rows: 4rem;
    }

    .about {
        --col-start: 1;
        --col-end: 12;
        --row-start: 1;
        --row-end: 5;
    }

    .portrait {
        --col-start: 13;
        --col-end: 17;
        --row-start: 1;
        --row-end: 5;
    }

    .name {
        --col-start: 5;
        --col-end: 14;
        --row-start: 5;
        --row-end: 7;
    }

    .front-end {
        --col-start: 1;
        --col-end: 5;
        --row-start: 5;
        --row-end: 9;
    }

    .ux {
        --col-start: 13;
        --col-end: 17;
        --row-start: 9;
        --row-end: 13;
    }

    .experience {
        --col-start: 5;
        --col-end: 13;
        --row-start: 7;
        --row-end: 11;
    }

    .skills {
        --col-start: 1;
        --col-end: 12;
        --row-start: 11;
        --row-end: 13;
    }

    .web {
        --col-start: 1;
        --col-end: 8;
        --row-start: 13;
        --row-end: 15;
    }

    .tools {
        --col-start: 8;
        --col-end: 17;
        --row-start: 13;
        --row-end: 15;
    }

    .github {
        --col-start: 13;
        --col-end: 15;
        --row-start: 7;
        --row-end: 9;
    }

    .codepen {
        --col-start: 15;
        --col-end: 17;
        --row-start: 5;
        --row-end: 7;
    }

    .portfolio-link {
        --col-start: 15;
        --col-end: 17;
        --row-start: 7;
        --row-end: 9;
    }

    .disclaimer {
        --col-start: 1;
        --col-end: 7;
        --row-start: 15;
        --row-end: 16;
    }
}
