@media screen and (max-width: 768px) {
    :root {
        --grid-column-width: 4rem;
        --grid-columns: 8;
        --grid-auto-rows: 4rem;
    }

    .about {
        --col-start: 1;
        --col-end: 7;
        --row-start: 4;
        --row-end: 10;
    }

    .portrait {
        --col-start: 6;
        --col-end: 9;
        --row-start: 1;
        --row-end: 4;
    }

    .name {
        --col-start: 1;
        --col-end: 5;
        --row-start: 1;
        --row-end: 2;

        font-size: 2rem;
        --text-align: start;
    }

    .front-end {
        --col-start: 1;
        --col-end: 3;
        --row-start: 10;
        --row-end: 12;

        --box-content-padding: 0.5rem;
        --number-size: 2.8rem;
        --years-size: 1.2rem;
        --text-size: 0.9rem;
        --line-height: 1.2;
    }

    .ux {
        --col-start: 1;
        --col-end: 3;
        --row-start: 12;
        --row-end: 14;

        --box-content-padding: 0.5rem;
        --number-size: 2.8rem;
        --years-size: 1.2rem;
        --text-size: 0.9rem;
        --line-height: 1.2;
    }

    .experience {
        --col-start: 2;
        --col-end: 9;
        --row-start: 10;
        --row-end: 14;
    }

    .skills {
        --col-start: 1;
        --col-end: 9;
        --row-start: 14;
        --row-end: 16;

        --grid-template-rows: 1fr;
        --grid-template-columns: repeat(6, 1fr);
        --grid-gap: 0;
    }

    .web {
        --col-start: 1;
        --col-end: 7;
        --row-start: 16;
        --row-end: 18;
    }

    .tools {
        --col-start: 2;
        --col-end: 9;
        --row-start: 18;
        --row-end: 20;
    }

    .github {
        --col-start: 7;
        --col-end: 9;
        --row-start: 6;
        --row-end: 8;
    }

    .codepen {
        --col-start: 7;
        --col-end: 9;
        --row-start: 4;
        --row-end: 6;
    }

    .portfolio-link {
        --col-start: 7;
        --col-end: 9;
        --row-start: 8;
        --row-end: 10;
    }

    .portfolio-container {
        --col-start: 1;
        --col-end: 13;
        --row-start: 3;
        --row-end: 16;
    }
}
