.box {
    --offset-x: 4;
    --offset-y: 3;

    --circle-x: calc(
        0px - var(--grid-column-width) * calc(var(--col-start) - 1) + calc(var(--grid-column-width) * var(--offset-x))
    );
    --circle-y: calc(
        0px - var(--grid-column-width) * calc(var(--row-start) - 1) + calc(var(--grid-column-width) * var(--offset-y))
    );

    display: grid;
    border-radius: var(--box-border-radius);
    margin: var(--box-margin);

    grid-column: var(--col-start) / var(--col-end);
    grid-row: var(--row-start) / var(--row-end);

    grid-template-columns: var(--box-border-width) auto var(--box-border-width);
    grid-template-rows: var(--box-border-width) auto var(--box-border-width);

    animation: moveOffsetX 15s ease infinite alternate, moveOffsetY 30s ease infinite alternate;
}

@keyframes moveOffsetX {
    0% {
        --offset-x: 0;
    }
    100% {
        --offset-x: 8;
    }
}

@keyframes moveOffsetY {
    0% {
        --offset-y: 2;
    }
    25% {
        --offset-y: 4;
    }
    50% {
        --offset-y: 0;
    }
    100% {
        --offset-y: 6;
    }
}
