@import "./properties.css";
@import "./variables.css";

:root {
    background: radial-gradient(circle at 50% 0, rgba(15, 15, 15, 0.8), rgba(255, 255, 255, 0) 70.71%),
        radial-gradient(circle at 6.7% 75%, rgba(8, 8, 8, 0.8), rgba(255, 255, 255, 0) 70.71%),
        radial-gradient(circle at 93.3% 75%, rgba(10, 10, 10, 0.6), rgba(255, 255, 255, 0) 70.71%) #111;
    background-attachment: fixed;
}

html,
body {
    color: var(--primary);
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: var(--primary);
}

a[href="#/"] {
    cursor: default;
    text-decoration: none;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
