:root {
    --primary: #e0e0e0;
    --secondary: #ff005a;
    --tertiary: #404040;
    --shadow: #40404090;

    --grid-column-width: 4rem;
    --grid-columns: 16;
    --grid-auto-rows: 4rem;
    --grid-gap: 1rem;

    --box-border-radius: 1rem;
    --box-border-width: 2px;
    --box-content-padding: 1.25rem;
}