.fe-xp {
    composes: box from global;
    --col-start: 1;
    --col-end: 3;
    --row-start: 3;
    --row-end: 5;

    --gradient-degrees: 90deg;
    --gradient-start: #0e141f;
    --gradient-end: #12161d;
}

.experience {
    display: grid;
    justify-content: center;
    align-items: baseline;
    grid-template-columns: repeat(3, 1fr);
    background: linear-gradient(to bottom right, #00dcff, #00dcff 25%, #e600ff 50%, #ff005a 75%, #ff005a);
    background-clip: text;
    color: transparent;
}

.number {
    grid-column: 2 / 3;
    font-size: 6rem;
    line-height: 1;
    text-align: center;
    margin: 0;
}

.years {
    grid-column: 3 / 4;
    font-size: 2.5rem;
    text-align: start;
}

.engineering {
    display: grid;
    place-content: center;
    text-align: center;
    font-size: 2rem;
    line-height: 1;
    margin: 0.5rem;
    color: var(--primary);
}
