:root {
    --primary: #404040;
    --secondary: #0092B8;
    --tertiary: #2A1911;
    --background: #FFFFFF;
}

:root.dark {
    --primary: #cbcbd7;
    --secondary: #2586ab;
    --tertiary: #6B6B7B;
    --background: #25252D;
}

html,
body {
    color: var(--primary);
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--secondary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}