:root {
    --primary: #E0E0E0;
    --secondary: #810036;
    --tertiary: #404040;
    --shadow: #40404090;
}

html,
body {
    color: var(--tertiary);
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    font-size: 20px;
    overflow-x: hidden;
    text-shadow: 0 1px rgb(255 255 255 / 70%);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

.justify {
    text-align: justify;
}