.box.portrait {
    flex-basis: 100%;
    max-width: 20rem;
    order: 0;

    & img {
        width: 100%;
        object-fit: contain;
        border-radius: 0.65rem;
    }
}

.box.portrait {
    display: grid;
    grid-template-columns: [box-start image-start] auto [image-end box-end];
    grid-template-rows: [image-start] 3fr [border-start] 5fr [image-end border-end];
}

.box.portrait .box-border-container {
    grid-row: border-start / border-end;
    grid-column: box-start / box-end;
}

.box.portrait .portrait-container {
    display: flex;
    grid-row: image-start / image-end;
    grid-column: image-start / image-end;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 2px;
    border-radius: 0.75rem;
}

@media screen and (min-width: 180px) {
    .box.portrait {
        grid-template-columns: [box-start] 1fr [image-start] 3fr [image-end box-end];
    }
}

@media screen and (min-width: 360px) {
    .box.portrait {
        flex-basis: auto;
    }
}
