.portrait {
    --col-start: 13;
    --col-end: 17;
    --row-start: 1;
    --row-end: 5;

    --bg-grid-col: 1 / -1;
    --bg-grid-row: 3 / -1;

    --gradient-degrees: 270deg;
    --gradient-start: #0c141e;
    --gradient-end: #15131b;
}

.portrait-image {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.portrait-image img {
    width: 100%;
    aspect-ratio: 1;
    margin-bottom: 2px;
}
