.title {
    composes: box from global;
    --col-start: 1;
    --col-end: 9;
    --row-start: 1;
    --row-end: 2;

    text-align: center;

    --gradient-degrees: 80deg;
    --gradient-start: #0e141f;
    --gradient-end: #181318;
}

.title h1 {
    margin: 0;
    padding: 0;
}

.title h4 {
    margin: 0;
    padding: 0;
}

.portfolio {
    composes: box from global;
    --col-start: 1;
    --col-end: 9;
    --row-start: 2;
    --row-end: 8;

    --gradient-degrees: 80deg;
    --gradient-start: #0e141f;
    --gradient-end: #181318;
}
