.portfolio-title {
    --col-start: 1;
    --col-end: 17;
    --row-start: 1;
    --row-end: 2;

    text-align: center;

    --gradient-degrees: 80deg;
    --gradient-start: #0e141f;
    --gradient-end: #181318;
}

.portfolio-title h1 {
    margin: 0;
    padding: 0;
}

.portfolio-title h4 {
    margin: 0;
    padding: 0;
}

.portfolio-container {
    --col-start: 1;
    --col-end: 17;
    --row-start: 3;
    --row-end: 14;

    --gradient-degrees: 80deg;
    --gradient-start: #0e141f;
    --gradient-end: #181318;
}
