.box {
    --offset-x: 4;
    --offset-y: 3;

    --circle-x: calc(
        0px - var(--grid-column-width) * calc(var(--col-start) - 1) + calc(var(--grid-column-width) * var(--offset-x))
    );
    --circle-y: calc(
        0px - var(--grid-column-width) * calc(var(--row-start) - 1) + calc(var(--grid-column-width) * var(--offset-y))
    );

    display: grid;
    grid-template-columns: 2px auto 2px;
    grid-template-rows: 2px auto 2px;
    border-radius: 1rem;
    margin: 0.5rem;

    grid-column: var(--col-start) / var(--col-end);
    grid-row: var(--row-start) / var(--row-end);

    animation: moveOffsetX 15s ease infinite alternate, moveOffsetY 30s ease infinite alternate;
}

.disclaimer-top {
    composes: box;
    --col-start: 1;
    --col-end: 9;
    --row-start: 1;
    --row-end: 2;

    text-align: center;

    --gradient-degrees: 80deg;
    --gradient-start: #0e141f;
    --gradient-end: #181318;
}

.disclaimer-top h1 {
    margin: 0;
    padding: 0;
}

.disclaimer-top h4 {
    margin: 0;
    padding: 0;
}

.portfolio {
    composes: box;
    --col-start: 1;
    --col-end: 9;
    --row-start: 2;
    --row-end: 8;

    --gradient-degrees: 80deg;
    --gradient-start: #0e141f;
    --gradient-end: #181318;
}

.disclaimer-bottom {
    composes: box;
    --col-start: 1;
    --col-end: 4;
    --row-start: 8;
    --row-end: 9;

    --gradient-degrees: 45deg;
    --gradient-start: #0d131d;
    --gradient-end: #07141d;
}
