.menu {
    width: min(80vw, 800px);
    margin-inline: auto;
    height: 100vh;
    display: grid;
    place-content: center;
    gap: 3rem;
}

.signature {
    width: min(80vw, 800px);
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.link {
    display: flex;
    place-content: center;
    font-size: 1.25rem;
    color: white;
    background-color: transparent;
    border: 3px solid white;
    padding-block: 0.5rem;
    flex: 1 1 80vw;
}

@media screen and (min-width: 800px) {
    .link {
        flex: 1;
    }
}