.sectionEntry {
    line-height: 1.7;
    text-align: center;
}

.sectionEntry[data-position=left] {
    text-align: right;
    flex: 1;
}

.sectionEntry[data-position=center] {
    color: var(--secondary);
    margin: 0 2rem;
}

.sectionEntry[data-position=right] {
    text-align: left;
    flex: 1;
}