.sectionEntry {
    align-items: flex-start;
    display: flex;
    line-height: 1.7;
}

.sectionEntry_left {
    text-align: end;
}

.sectionEntry_center {
    color: var(--secondary);
    text-align: center;
    white-space: nowrap;
}

.sectionEntry_right {
    text-align: start;
}